footer {
    padding: 18px 10px;
    width: 100%;
    color: #f2f2f2;
    background-color: #0074D9;
    /* position: fixed; */
    /* bottom: 0; */
     overflow: hidden;
}

a {
  margin-right: 10px;
}