/* .loginPageBody {
    background-image: 'images/barbell1.jpg';
    background-image: url('https://images.pexels.com/photos/841130/pexels-photo-841130.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    backgroundImage: 'url(https://source.unsplash.com/random)',
   

    background-image: url('/images/barbell1.jpg');
     background-size: cover;
}

form {
opacity: 0.75;
} */
